.book-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.book-filter {
    width: 20%;
    height: 500px;
}

.book-filter-paper {
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.book-list {
    width: 80%;
}

.book-list-item-paper {
    padding: 10px;
    display: flex;
    width: 80%;
}

.book-image {
    margin-right: 10px;
}

.search-text {
    margin-bottom: 5px;
}